* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  scroll-behavior: smooth;
  position: relative;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
}

body {
  font-size: 1.6rem;
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: pop-reg;
  src: url(fonts/SairaCondensed-Regular.ttf);
}
@font-face {
  font-family: pop-light;
  src: url(fonts/SairaCondensed-ExtraLight.ttf);
}
@font-face {
  font-family: pop-bold;
  src: url(fonts/SairaCondensed-Bold.ttf);
}
a {
  text-decoration: none;
}

.button {
  font-family: pop-reg;
  padding: 4px 10px 4px 10px;
  background-color: transparent;
  color: #fafafa;
  border: 1px solid #d97e1b;
  border-radius: 2.5rem;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  position: relative;
  cursor: pointer;
  -webkit-transition: ease all 0.5s;
  transition: ease all 0.5s;
}

.button-form {
  background-color: #d97e1b;
  margin: 0 auto;
}

.button-contact {
  background-color: #d97e1b;
  color: #fafafa;
}

.button:hover,
.button:active {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  background-color: #d97e1b;
  -webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 60%;
  }
}
@media only screen and (max-width: 800px) {
  html {
    font-size: 45%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 40%;
  }
}
nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8rem;
  position: fixed;
  z-index: 99;
  background-color: white;
}
nav .links {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px 0 25px;
}
nav .links .main-links {
  height: 100%;
  width: 32rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .links .main-links a {
  text-decoration: none;
  color: black;
  font-size: 3rem;
  font-family: pop-reg;
  padding-bottom: 0;
  position: relative;
}
nav .links .main-links a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  bottom: 0;
  left: 0;
  background-color: #d97e1b;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav .links .main-links a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
nav .contact-link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav .contact-link a {
  color: #fafafa;
  margin: 0 auto;
  padding: 3px 20px 3px 20px;
}

@media only screen and (max-width: 800px) {
  nav {
    display: none;
  }
}
#home {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-image: url(../images/hero.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#home h1 {
  font-size: 6rem;
  font-family: pop-reg;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  color: #fafafa;
  position: absolute;
  top: 70vh;
}
#home h2 {
  font-size: 6rem;
  font-weight: lighter;
  font-family: pop-light;
  color: #fafafa;
  position: absolute;
  top: 90vh;
}

@media only screen and (max-width: 1000px) {
  #home {
    background-image: url(../images/hero_mobile.svg);
    background-position: left center;
    background-attachment: scroll;
  }
}
#about {
  width: 100%;
  position: relative;
  background-color: #0b1c32;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #fafafa), color-stop(20%, #0b1c32));
  background: linear-gradient(0deg, #fafafa 20%, #0b1c32 20%);
}
#about .about-content {
  padding-top: 100px;
  max-width: 120rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}
#about .about-content .about-text {
  width: 65%;
  height: 40%;
  margin: 0 auto 5rem auto;
  z-index: 98;
  position: relative;
}
#about .about-content .about-text h1 {
  color: #fafafa;
  font-size: 5rem;
  font-family: pop-reg;
  text-align: center;
}
#about .about-content .about-text p {
  font-family: pop-reg;
  font-size: 2.5rem;
  color: #fafafa;
}
#about .about-content .skills {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  border: 1px solid #cfcfcf;
  -webkit-box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  padding: 6rem;
  z-index: 98;
}
#about .about-content .skills h1 {
  font-size: 4rem;
  font-family: pop-reg;
  margin-bottom: 1rem;
  color: black;
}
#about .about-content .skills p {
  font-family: pop-reg;
  font-size: 2.5rem;
  color: black;
  z-index: 98;
  margin-bottom: 0;
}
#about .about-content .skills p:first-of-type {
  margin-bottom: 2rem;
}

#portfolio {
  width: 100%;
}
#portfolio .portfolio-content {
  width: 100%;
  background-color: #fafafa;
  padding: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#portfolio .portfolio-content .portfolio-header {
  width: 100%;
  height: 12rem;
  text-align: center;
  padding: 2rem;
  margin-bottom: 3rem;
}
#portfolio .portfolio-content .portfolio-header h1 {
  font-size: 6rem;
  margin-bottom: 0;
  font-family: pop-reg;
}
#portfolio .portfolio-content .portfolio-header p {
  font-size: 2.5rem;
  font-family: pop-reg;
}
#portfolio .portfolio-content .portfolio-projects {
  height: 50rem;
  width: 100%;
  margin-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#portfolio .portfolio-content .portfolio-projects .project {
  width: 50rem;
  height: 100%;
  border-radius: 2rem;
  position: relative;
  overflow-y: hidden;
  -webkit-transition: -webkit-transform ease 0.3s;
  transition: -webkit-transform ease 0.3s;
  transition: transform ease 0.3s;
  transition: transform ease 0.3s, -webkit-transform ease 0.3s;
  -webkit-box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
}
#portfolio .portfolio-content .portfolio-projects .project .project-text {
  width: 100%;
  height: 100%;
  bottom: -60rem;
  padding: 2rem;
  position: absolute;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0b1c32;
  -webkit-transition: bottom ease 0.6s;
  transition: bottom ease 0.6s;
}
#portfolio .portfolio-content .portfolio-projects .project .project-text h1 {
  font-family: pop-reg;
  font-size: 4rem;
  color: #fafafa;
}
#portfolio .portfolio-content .portfolio-projects .project .project-text p {
  font-family: pop-light;
  color: #fafafa;
  font-size: 2.5rem;
  min-height: 17rem;
  margin: 0 auto;
}
#portfolio .portfolio-content .portfolio-projects .project:hover > .project-text,
#portfolio .portfolio-content .portfolio-projects .project:active > .project-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0px;
}
#portfolio .portfolio-content .portfolio-projects .project:hover,
#portfolio .portfolio-content .portfolio-projects .project:active {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}
#portfolio .portfolio-content .portfolio-projects .project-1 {
  left: -800px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 28, 50, 0.5)), to(rgba(11, 28, 50, 0.5))), url(../images/junglecook.png);
  background-image: linear-gradient(to bottom, rgba(11, 28, 50, 0.5), rgba(11, 28, 50, 0.5)), url(../images/junglecook.png);
  margin-right: 4rem;
}
#portfolio .portfolio-content .portfolio-projects .project-2 {
  left: -1400px;
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 28, 50, 0.5)), to(rgba(11, 28, 50, 0.5))), url(../images/kuerig.png);
  background-image: linear-gradient(to bottom, rgba(11, 28, 50, 0.5), rgba(11, 28, 50, 0.5)), url(../images/kuerig.png);
  margin-right: 4rem;
}
#portfolio .portfolio-content .portfolio-projects .project-3 {
  left: -1800px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 28, 50, 0.5)), to(rgba(11, 28, 50, 0.5))), url(../images/todo-list.png);
  background-image: linear-gradient(to bottom, rgba(11, 28, 50, 0.5), rgba(11, 28, 50, 0.5)), url(../images/todo-list.png);
}

@media only screen and (max-width: 1400px) {
  #portfolio .portfolio-content .portfolio-projects {
    height: 40rem;
  }
  #portfolio .portfolio-content .portfolio-projects .project {
    width: 40rem;
  }
  #portfolio .portfolio-content .portfolio-projects .project .project-text h1 {
    font-size: 3rem;
  }
  #portfolio .portfolio-content .portfolio-projects .project .project-text p {
    font-size: 2rem;
    min-height: 8rem;
  }
}
@media only screen and (max-width: 1100px) {
  #portfolio .portfolio-content .portfolio-projects {
    height: 30rem;
  }
  #portfolio .portfolio-content .portfolio-projects .project {
    width: 30rem;
  }
  #portfolio .portfolio-content .portfolio-projects .project .project-text h1 {
    font-size: 2rem;
  }
  #portfolio .portfolio-content .portfolio-projects .project .project-text p {
    font-size: 1.5rem;
    min-height: 8rem;
  }
}
@media only screen and (max-width: 900px) {
  #portfolio .portfolio-content .portfolio-projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 125rem;
    width: 100%;
  }
  #portfolio .portfolio-content .portfolio-projects .project {
    width: 100%;
    height: 40rem;
  }
  #portfolio .portfolio-content .portfolio-projects .project .project-text {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
  }
  #portfolio .portfolio-content .portfolio-projects .project .project-text h1 {
    font-size: 3rem;
  }
  #portfolio .portfolio-content .portfolio-projects .project .project-text p {
    font-size: 2rem;
  }
  #portfolio .portfolio-content .portfolio-projects .project-1,
#portfolio .portfolio-content .portfolio-projects .project-2,
#portfolio .portfolio-content .portfolio-projects .project-3 {
    margin: 2rem 0 2rem 0;
  }
}
#contact {
  width: 100%;
}
#contact .contact-content {
  width: 100%;
  padding: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#contact .contact-content .contact-header {
  width: 100%;
  height: 10rem;
  text-align: center;
}
#contact .contact-content .contact-header h1 {
  font-size: 6rem;
  margin-bottom: 0;
  font-family: pop-reg;
}
#contact .contact-content .contact-header p {
  font-size: 2.5rem;
  font-family: pop-reg;
}
#contact .contact-content .contact-content-form {
  margin-top: 12rem;
  width: 100%;
  max-width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#contact .contact-content .contact-content-form .contact-form {
  width: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#contact .contact-content .contact-content-form .contact-form label {
  display: block;
  font-family: pop-reg;
  margin-bottom: 0.8rem;
  font-size: 2.4rem;
}
#contact .contact-content .contact-content-form .contact-form #my-form-status {
  margin: 0.8rem auto;
  font-family: pop-reg;
  font-size: 2.4rem;
}
#contact .contact-content .contact-content-form .contact-form .form-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#contact .contact-content .contact-content-form .contact-form .form-top input {
  font-family: pop-reg;
  font-size: 2.4rem;
  border: 1px solid lightgrey;
  height: 5rem;
  padding: 0.5rem;
}
#contact .contact-content .contact-content-form .contact-form .form-message {
  width: 100%;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
  margin-top: 2rem;
}
#contact .contact-content .contact-content-form .contact-form .form-message textarea {
  width: 100%;
  height: 100%;
  resize: none;
  font-family: pop-reg;
  font-size: 2.4rem;
  border: 1px solid lightgrey;
  padding: 0.5rem;
}

footer {
  width: 100%;
  height: 15%;
  background-color: #0b1c32;
}
footer .contact-links {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .contact-links .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
footer .contact-links .link i {
  color: #f29127;
  -webkit-transition: ease all 0.5s;
  transition: ease all 0.5s;
  background-color: transparent;
  cursor: pointer;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}
footer .contact-links i:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}