#contact {
  width: 100%;

  .contact-content {
    width: 100%;
    padding: 10rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    .contact-header {
      width: 100%;
      height: 10rem;
      text-align: center;
      h1 {
        font-size: 6rem;
        margin-bottom: 0;
        font-family: saira-reg;
      }
      p {
        font-size: 2.5rem;
        font-family: saira-reg;
      }
    }

    .contact-content-form {
      margin-top: 12rem;
      width: 100%;
      max-width: 20rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .contact-form {
        width: 53rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        label {
          display: block;
          font-family: saira-reg;
          margin-bottom: 0.8rem;
          font-size: 2.5rem;
        }
        #my-form-status {
          margin: 0.8rem auto;
          font-family: saira-reg;
          font-size: 2.5rem;
        }
        .form-top {
          width: 100%;
          display: flex;
          align-items: space-between;
          justify-content: space-between;

          input {
            font-family: saira-reg;
            font-size: 2rem;
            border: 1px solid lightgrey;
            height: 5rem;
            padding: 0.5rem;
            min-width: 25rem;
          }
        }
        .form-message {
          width: 100%;
          height: 20rem;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          margin-bottom: 4rem;
          margin-top: 2rem;
          textarea {
            width: 100%;
            height: 100%;
            resize: none;
            font-family: saira-reg;
            font-size: 2rem;
            border: 1px solid lightgrey;
            padding: 0.5rem;
          }
        }
      }
    }
  }
}
