#portfolio {
  width: 100%;

  .portfolio-content {
    width: 100%;
    background-color: #fafafa;
    padding: 7rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    .portfolio-header {
      width: 100%;
      height: 12rem;
      text-align: center;
      padding: 2rem;
      margin-bottom: 3rem;
      h1 {
        font-size: 6rem;
        margin-bottom: 0;
        font-family: saira-reg;
      }
      p {
        font-size: 2.5rem;
        font-family: saira-reg;
      }
    }
    .portfolio-projects {
      height: 50rem;
      width: 100%;
      margin-top: 8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      .project {
        width: 50rem;
        height: 100%;
        border-radius: 2rem;
        position: relative;
        overflow-y: hidden;
        transition: transform ease 0.3s;
        box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
        .project-text {
          width: 100%;
          height: 100%;
          bottom: -60rem;
          padding: 2rem;
          position: absolute;
          border-radius: 2rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background-color: #0b1c32;
          transition: bottom ease 0.6s;
          h1 {
            font-family: saira-reg;
            font-size: 3rem;
            color: #fafafa;
          }
          p {
            font-family: saira-light;
            color: #fafafa;
            font-size: 2.3rem;
            min-height: 16rem;
            margin: 0 auto 2rem 0;
          }
        }
      }
      .project:hover > .project-text,
      .project:active > .project-text {
        display: flex;
        bottom: 0px;
      }

      .project:hover,
      .project:active {
        transform: scale(1.04);
      }

      .project-1 {
        left: -1100px;
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: linear-gradient(
            to bottom,
            rgba(11, 28, 50, 0.5),
            rgba(11, 28, 50, 0.5)
          ),
          url(../images/junglecook.png);
        margin-right: 4rem;
      }

      .project-2 {
        left: -1600px;
        background-position: 0 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: linear-gradient(
            to bottom,
            rgba(11, 28, 50, 0.5),
            rgba(11, 28, 50, 0.5)
          ),
          url(../images/kuerig.png);
        margin-right: 4rem;
      }

      .project-3 {
        left: -2000px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: linear-gradient(
            to bottom,
            rgba(11, 28, 50, 0.5),
            rgba(11, 28, 50, 0.5)
          ),
          url(../images/todo-list.png);
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  #portfolio {
    .portfolio-content {
      .portfolio-projects {
        height: 40rem;
        .project {
          width: 40rem;
          .project-text {
            h1 {
              font-size: 3rem;
            }
            p {
              font-size: 2rem;
              min-height: 8rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  #portfolio {
    .portfolio-content {
      .portfolio-projects {
        height: 30rem;
        .project {
          width: 30rem;
          .project-text {
            h1 {
              font-size: 2rem;
            }
            p {
              font-size: 1.5rem;
              min-height: 8rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  #portfolio {
    .portfolio-content {
      .portfolio-projects {
        flex-direction: column;
        height: 125rem;
        width: 100%;
        .project {
          width: 100%;
          height: 40rem;
          .project-text {
            align-items: flex-start;
            justify-content: center;
            padding: 20px;
            h1 {
              font-size: 3rem;
            }
            p {
              font-size: 2rem;
            }
          }
        }
        .project-1,
        .project-2,
        .project-3 {
          margin: 2rem 0 2rem 0;
        }
      }
    }
  }
}
