* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  scroll-behavior: smooth;
  position: relative;
}

html {
  font-size: 62.5%;
}

body {
  // font-size: 1.6rem;
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: pop-reg;
  src: url(fonts/SairaCondensed-Regular.ttf);
}

@font-face {
  font-family: pop-light;
  src: url(fonts/SairaCondensed-ExtraLight.ttf);
}

@font-face {
  font-family: pop-bold;
  src: url(fonts/SairaCondensed-Bold.ttf);
}

a {
  text-decoration: none;
}

.button {
  font-family: pop-reg;
  padding: 1rem 1.5rem 1rem 1.5rem;
  background-color: transparent;
  color: #fafafa;
  border: 1px solid #d97e1b;
  border-radius: 2.5rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
  cursor: pointer;
  transition: ease all 0.5s;
}

.button-form {
  background-color: #d97e1b;
  margin: 0 auto;
}

.button-contact {
  background-color: #d97e1b;
  color: #fafafa;
}

.button:hover,
.button:active {
  transform: translateY(-1rem);
  background-color: #d97e1b;
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 300px) {
  html {
    font-size: 15%;
  }
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 25%;
  }
}

@media only screen and (min-width: 1000px) {
  html {
    font-size: 45%;
  }
}

@media only screen and (min-width: 1400px) {
  html {
    font-size: 62.5%;
  }
}

// @media only screen and (min-width: 65em) {
//   html {
//     font-size: 25%;
//   }
// }

// @media only screen and (min-width: 40em) {
//   html {
//     font-size: 15%;
//   }
// }

// @media only screen and (max-width: 520px) {
//   html,
//   body {
//     font-size: 25.5%;
//   }
// }

// @media only screen and (max-width: 320px) {
//   html,
//   body {
//     font-size: 20.5%;
//   }
// }
